.category_cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;

    .category_card {
        width: 170px;
        height: 145px;
        padding: 25px 56px 24px 55px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.30);
        transition: 0.5s all ease;
        cursor: pointer;
        &:hover{
            background-color: #DB4444;
            border: 1px solid #DB4444;
        }
        &:hover path {
           stroke: #fff;
        }
        &:hover line {
            stroke: #fff;
         }
        &:hover p {
            color: #fff;
         }
 

        &_content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
    }
}