.wishlist-title {
  display: flex;
  width: 1170px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  h2 {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 26px;
  }
  button {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 16px 48px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    transition: 0.5s all ease;
    &:hover{
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }
  }
}
.wishlist_cards{
    display: flex;
  width: 1170px;
  margin: auto;
  gap: 30px;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
