.best_product_card {
    width: 270px;
    min-height: 350px;
   

    &_img {
        width: 270px;
        height: 250px;
        padding: 52px 65px;
        border-radius: 4px;
        background: #F5F5F5;
        position: relative;
        overflow: hidden;
        &:hover .add{
            opacity: 1;
            transform: translateY(0px);
            transform-origin: center;
        }
        img {
            width: 140px;
            height: 146px;
        }

        .best_product_card_view {
            position: absolute;
            top: 54px;
            right: 12px;
            border-radius: 50%;
            display: grid;
            place-items: center;
            background-color: #fff;
            width: 34px;
            height: 34px;
            cursor: pointer;

            svg {
                color: #000;
                width: 24px;
                height: 24px;
            }
        }

        .best_product_card_heart {
            position: absolute;
            top: 12px;
            right: 12px;
            border-radius: 50%;
            display: grid;
            place-items: center;
            background-color: #fff;
            width: 34px;
            height: 34px;
            cursor: pointer;

            svg {
                color: #000;
                width: 24px;
                height: 24px;
            }
            .active{
                stroke: #DB4444;
            }
        }

        .add {
            width: 270px;
            height: 41px;
            border-radius: 0px 0px 4px 4px;
            background: #000;
            position: absolute;
            left: 0;
            bottom: 0px;
            padding: 8px 0px;
            opacity: 0;
            transform: translateY(41px);
            transition: 0.5s all ease;
            cursor: pointer;
            
            p {
                text-align: center;
                color: #FFF;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
            }
        }

    }

    &_text {
        margin-top: 10px;
        h4 {
            color: #000;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
        }

        p {
            color: #DB4444;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;

            span {
                margin-left: 5px;
                color: #000;
                opacity: 0.5;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                text-decoration-line: strikethrough;
            }
        }

        &_icon {
            display: flex;
            align-items: center;
            gap: 5px;

            svg {
                width: 20px;
                height: 20px;
            }

            span {
                color: #000;
                opacity: 0.5;
                font-size: 14px;
                font-weight: 600;
                line-height: 21px;
            }
        }
    }
}