#sales {
    padding-top: 40px;
    padding-bottom: 50px;
    .sales_container {
        width: 1170px;
        margin: auto;

        .slider_cards {
            margin-top: 40px;
            .slick-slider {
                .slick-prev{
                    width: 40px ;
                    height: 40px ;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50% ;
                    background-color: #db4444 ;
                    right: -20px ;
                    top: 150px;
                    z-index: 2;
                }
                .slick-next{
                    width: 40px ;
                    height: 40px ;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50% ;
                    background-color: #db4444 ;
                    right: -20px ;
                    top: 150px;
                    z-index: 2;
                }
                
            }
        }
    }
}